<footer class="container">
  <div class="row">
    <div class="six columns">
      <a href="https://github.com/brianriley"><i class="icon-github-sign icon-2x"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/btriley"><i class="icon-twitter-sign icon-2x"></i></a>
    </div>
    <div class="six columns">
      <p><a href="/">Brian</a> works on computers.</p>
    </div>
  </div>
</footer>
